@charset "ISO-8859-1";
body{
	margin: auto 0;
    font-family: 'Metal Mania', cursive;
	text-align: center;	
}
.zone {
    border-radius:4px;
    border:1px solid #494949;
    transition: all 0.1s linear;	
}

.zone:hover {
    -webkit-box-shadow:rgba(249,249,249,0.8) 0px 5px 15px, inset rgba(49,249,249,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(249,249,249,0.8) 0px 5px 15px, inset rgba(49,249,249,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(249,249,249,0.8) 0px 5px 15px, inset rgba(49,249,249,0.15) 0px -10px 20px;
    box-shadow:rgba(249,249,249,0.8) 0px 5px 15px, inset rgba(49,249,249,0.15) 0px -10px 20px;
}


/***********************************************************************
 *  Nav Bar
 **********************************************************************/
.main-nav{
    display: flex;
    list-style: none;
    margin: 0;
    font-size: 0.7em;
}

@media only screen and (max-width: 1000px) {
    .main-nav {
        font-size: 0.5em;
        padding: 0;
    }
	.grid-wrapper { grid-template-columns: repeat(1, 1fr); }
	.profile-img {
		max-width: 350px;
		max-height: 350px;	
	}

}

@media only screen and (min-height: 600px) {
	body{
		height: auto;
		background:#000000;
	}
	
	embed{
		width: 1000px;
		height: 1000px;
		margin: auto;  
	}

}

@media only screen and (max-height: 601px) {
	body{
		height: auto;
		background: -moz-linear-gradient(bottom, #e02121 0%, #000000 20%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(85%, #000000), color-stop(100%,#e02121)); /* Chrome,Safari4+ */
	}

}

@media only screen and (min-width: 1001px) {
	.grid-wrapper { grid-template-columns: 100px 1fr 1fr 100px; }
	.profile{ grid-column-start: 2;}
	.text{ 
		grid-column-start: 3;
		font-size: 1.3em;
	}
	.profile-img {
		max-width: 500px;
		max-height: 500px;	
		align-self: center;
	}
}

.push{
    margin-left: auto;
}

li{
    padding: 20px;
}

a{
    color: black;
}

h3{
	font-family: 'Inconsolata', monospace;
}

/***********************************************************************
 *  Grid Panel
 **********************************************************************/
.grid-wrapper {
    display: grid;
    grid-gap: 20px; 
}

.box {
    padding: 20px;
    margin: 20px;
	justify-self: center;
}

.box > img {
	justify-self: center;
    width: 100%;
}

.profile-img {
	border-radius: 75%;	
}

.text{
    color: #e02121 !important;
    
}

.grid-wrapper-proj {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 20px;
}

.box-proj {
    background-color: #494949;
    padding: 80px;
    margin: 20px;
	display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;
	font-family: 'Permanent Marker', cursive;
}

.box-proj > img {
    width: 8em;
	height: 8em;
}

.container {
    /*show heigh: auto*/
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
}

embed{
	width: 600px;
	height: 600px;
	margin: auto;  
}

.proj-list{
	list-style: none;
}

/***********************************************************************
 *  Red Background
 **********************************************************************/
.red{
    background: #e02121; /* Old browsers */
    background: -moz-linear-gradient(top, #e02121 0%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e02121), color-stop(100%,#a5c956)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e02121 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e02121 0%,#000000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e02121 0%,#000000 100%); /* IE10+ */
    background: linear-gradient(top, #e02121 0%,#000000 100%); /* W3C */
    grid-column: 1/-1;
}

/***********************************************************************
 *  Black Background
 **********************************************************************/
.black{
    background: #000000; /* Old browsers */
}


