@charset "ISO-8859-1";
body{
	margin: auto 0;
    font-family: 'Metal Mania', cursive;
}

.container{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-gap: 20px;
    height: 100vh;
    
}

.zone {

}


.profile{
    background-image: url("img/profile.jpg");
    background-size: cover;
    grid-column-start: : 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.text{
    grid-column-start: : 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    color: #e02121 !important;
    text-align: center;
}

.main-nav{
    display: flex;
    list-style: none;
    margin: 0;
}

.push{
    margin-left: auto;
}

h1{
    font-size: 4em;
}

h2{
    font-size: 2em;
}

p{
    font-size: 1.5em;
}

li{
    padding: 20px;
}

a{
    color: black;
}


/***********************************************************************
 *  Red Background
 **********************************************************************/
.red{
    background: #e02121; /* Old browsers */
    background: -moz-linear-gradient(top, #e02121 0%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e02121), color-stop(100%,#a5c956)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e02121 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e02121 0%,#000000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e02121 0%,#000000 100%); /* IE10+ */
    background: linear-gradient(top, #e02121 0%,#000000 100%); /* W3C */
    grid-column: 1/-1;
}

/***********************************************************************
 *  Black Background
 **********************************************************************/
.black{
    background: #000000; /* Old browsers */
}


